[Unit]
Description=Office Eels Website Flask Application
After=network.target

[Service]
User=aec
Group=aec
WorkingDirectory=/home/aec/office-eels
ExecStart=/usr/bin/python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target 